@use "../util" as u;

.wrapper {
  width: min(100% - 32px, 1110px);
  min-height: 100dvh;
  margin-inline: auto;
  padding-block-start: 28px;
  padding-block-end: 82px;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 32px;

  &__logo {
    width: 46px;
    height: 28px;
  }
}

.menu {
  position: fixed;
  top: 0;
  right: -256px;
  bottom: 0;
  z-index: 4;
  width: 256px;
  padding: 132px 20px 27px 24px;
  background-color: u.$clr-off-white;
  transition: right 0.3s;
  overflow-y: auto;

  &.show-menu {
    right: 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: u.rem(26);
  }

  &__link {
    font-size: u.rem(18);
    color: u.$clr-very-dark-blue;
    transition: color 0.1s;

    &:hover {
      color: u.$clr-soft-orange;
    }
  }
}

.burger-menu {
  position: absolute;
  top: 6px;
  right: 0;
  width: 40px;
  height: 17px;
  z-index: 6;

  &__line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: u.$clr-very-dark-blue;
    transition:
      transform 0.3s,
      opacity 0.15s;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }

    &:nth-child(3) {
      bottom: 0;
    }
  }

  &.close-menu {
    .burger-menu__line {
      &:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
      }
    }
  }
}

.main {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
  gap: 64px 30px;
}

.hero {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
  max-width: 730px;

  &__img {
    margin-block-end: u.rem(24);
  }

  &__title {
    margin-block-end: u.rem(16);
    font-size: u.rem(40);
    font-weight: 800;
    line-height: 1;
    color: u.$clr-very-dark-blue;
  }

  &__text {
    margin-block-end: u.rem(24);
    line-height: 1.7;
  }

  &__link {
    padding: u.rem(16) u.rem(36) u.rem(15) u.rem(31);
    font-size: u.rem(14);
    font-weight: 700;
    color: u.$clr-very-dark-blue;
    letter-spacing: 0.31em;
    text-transform: uppercase;
    background-color: u.$clr-soft-red;
    transition:
      color 0.15s,
      background-color 0.15s;

    &:hover {
      color: u.$clr-white;
      background-color: u.$clr-very-dark-blue;
    }
  }
}

.new {
  max-width: 350px;
  padding: 21px 21px 24px;
  background-color: u.$clr-very-dark-blue;

  &__heading {
    font-size: u.rem(32);
    font-weight: 700;
    color: u.$clr-soft-orange;
  }

  &__article {
    padding-block-end: u.rem(29);
    border-bottom: 1px solid u.$clr-grayish-blue;
  }

  &__heading:not(:last-child),
  &__article:not(:last-child) {
    margin-block-end: u.rem(32);
  }

  &__title {
    margin-block-end: u.rem(8);
    font-size: u.rem(20);
    font-weight: 800;
  }

  &__link {
    color: u.$clr-off-white;
    transition: color 0.1s;

    &:hover {
      color: u.$clr-soft-orange;
    }
  }

  &__text {
    line-height: 1.7;
    color: u.$clr-grayish-blue;
  }
}
