@use "../util" as u;

.wrapper {
  width: min(100% - 32px, 1110px);
  min-height: 100dvh;
  margin-inline: auto;
  padding-block-start: 28px;
  padding-block-end: 76px;

  @include u.media-up(md) {
    padding-block-start: 89px;
    padding-block-end: 130px;
  }
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 32px;

  @include u.media-up(md) {
    margin-block-end: 55px;
  }

  &__logo {
    width: 46px;
    height: 28px;

    @include u.media-up(md) {
      width: 64px;
      height: 40px;
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  width: 256px;
  padding: 132px 20px 27px 24px;
  background-color: u.$clr-off-white;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;

  @include u.media-up(md) {
    position: static;
    width: auto;
    padding: 0;
    transform: translateX(0);
  }

  &.show-menu {
    transform: translateX(0);
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: u.rem(26);

    @include u.media-up(md) {
      flex-direction: row;
      column-gap: u.rem(40);
    }
  }

  &__link {
    font-size: u.rem(18);
    color: u.$clr-very-dark-blue;
    transition: color 0.1s;

    &:hover {
      color: u.$clr-soft-red;
    }

    @include u.media-up(md) {
      font-size: inherit;
      color: u.$clr-dark-grayish-blue;
    }
  }
}

.burger-menu {
  position: absolute;
  top: 6px;
  right: 0;
  width: 40px;
  height: 17px;
  z-index: 6;

  @include u.media-up(md) {
    display: none;
  }

  &__line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: u.$clr-very-dark-blue;
    transition:
      transform 0.3s,
      opacity 0.15s;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }

    &:nth-child(3) {
      bottom: 0;
    }
  }

  &.close-menu {
    .burger-menu__line {
      &:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
      }
    }
  }
}

.main {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
  justify-items: center;
  gap: 64px 30px;

  @include u.media-up(sm) {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 72px 30px;
  }
}

.hero {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
  max-width: 730px;

  @include u.media-up(sm) {
    grid-area: 1 / 1 / 2 / 2;
  }

  @include u.media-up(lg) {
    grid-template-columns: auto 350px;
    grid-template-rows: auto auto;
    column-gap: 30px;
  }

  &__img-wrapper {
    display: block;
    margin-block-end: u.rem(24);

    @include u.media-up(md) {
      max-height: 300px;
      margin-block-end: u.rem(30);
    }

    @include u.media-up(lg) {
      grid-area: 1 / 1 / 2 / 3;
    }
  }

  &__img {
    height: 100%;
    object-fit: cover;
  }

  &__title {
    margin-block-end: u.rem(16);
    font-size: u.rem(40);
    font-weight: 800;
    line-height: 1;
    color: u.$clr-very-dark-blue;

    @include u.media-up(lg) {
      grid-area: 2 / 1 / 3 / 2;
      margin-block-end: 0;
      font-size: u.rem(56);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: u.rem(24);

    @include u.media-up(lg) {
      grid-area: 2 / 2 / 3 / 3;
    }
  }

  &__text {
    line-height: 1.7;
  }

  &__link {
    padding: u.rem(16) u.rem(35) u.rem(15) u.rem(31);
    font-size: u.rem(14);
    font-weight: 700;
    color: u.$clr-very-dark-blue;
    letter-spacing: 0.31285em;
    text-transform: uppercase;
    background-color: u.$clr-soft-red;
    transition:
      color 0.15s,
      background-color 0.15s;

    &:hover {
      color: u.$clr-white;
      background-color: u.$clr-very-dark-blue;
    }
  }
}

.new {
  max-width: 350px;
  padding: 24px 21px;
  background-color: u.$clr-very-dark-blue;

  @include u.media-up(sm) {
    grid-area: 1 / 2 / 2 / 3;
  }

  @include u.media-up(lg) {
    padding: 32px 24px 31px;
  }

  &__heading {
    margin-block-end: u.rem(30);
    font-size: u.rem(32);
    font-weight: 700;
    color: u.$clr-soft-orange;

    @include u.media-up(lg) {
      font-size: u.rem(40);
    }
  }

  &__article:not(:last-child) {
    margin-block-end: u.rem(32);
    padding-block-end: u.rem(29);
    border-bottom: 1px solid u.$clr-grayish-blue;
  }

  &__title {
    margin-block-end: u.rem(8);
    font-size: u.rem(20);
    font-weight: 800;
  }

  &__link {
    color: u.$clr-off-white;
    transition: color 0.1s;

    &:hover {
      color: u.$clr-soft-orange;
    }
  }

  &__text {
    line-height: 1.7;
    color: u.$clr-grayish-blue;
  }
}

.popular {
  display: flex;
  flex-direction: column;
  gap: 32px 30px;

  @include u.media-up(sm) {
    grid-area: 2 / 1 / 3 / 3;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__heading {
    display: none;
  }

  &__article {
    display: flex;
    column-gap: 24px;

    @include u.media-up(md) {
      max-width: 350px;
    }
  }

  &__img {
    width: 100px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: u.rem(10);
  }

  &__number {
    font-size: u.rem(32);
    font-weight: 700;
    color: u.$clr-soft-red;
  }

  &__title {
    font-size: u.rem(18);
    font-weight: 800;
  }

  &__link {
    color: u.$clr-very-dark-blue;
    transition: color 0.1s;

    &:hover {
      color: u.$clr-soft-red;
    }
  }

  &__text {
    line-height: 1.7;
  }
}
