html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

html,
body {
  height: 100%;
}

img {
  display: block;
  width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
