@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/inter-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/inter-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/inter-extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

html,
body {
  height: 100%;
}

img {
  display: block;
  width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 0.938rem;
  font-weight: 400;
  line-height: 1.2;
  color: hsl(236, 13%, 42%);
  background-color: hsl(36, 100%, 99%);
}
body.lock-screen {
  overflow: hidden;
}
body.lock-screen::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: 3;
  background-color: hsla(240, 100%, 5%, 0.5);
}

.wrapper {
  width: min(100% - 32px, 1110px);
  min-height: 100dvh;
  margin-inline: auto;
  padding-block-start: 28px;
  padding-block-end: 76px;
}
@media (min-width: 768px) {
  .wrapper {
    padding-block-start: 89px;
    padding-block-end: 130px;
  }
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 32px;
}
@media (min-width: 768px) {
  .header {
    margin-block-end: 55px;
  }
}
.header__logo {
  width: 46px;
  height: 28px;
}
@media (min-width: 768px) {
  .header__logo {
    width: 64px;
    height: 40px;
  }
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  width: 256px;
  padding: 132px 20px 27px 24px;
  background-color: hsl(36, 100%, 99%);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;
}
@media (min-width: 768px) {
  .menu {
    position: static;
    width: auto;
    padding: 0;
    transform: translateX(0);
  }
}
.menu.show-menu {
  transform: translateX(0);
}
.menu__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.625rem;
}
@media (min-width: 768px) {
  .menu__list {
    flex-direction: row;
    column-gap: 2.5rem;
  }
}
.menu__link {
  font-size: 1.125rem;
  color: hsl(240, 100%, 5%);
  transition: color 0.1s;
}
.menu__link:hover {
  color: hsl(5, 85%, 63%);
}
@media (min-width: 768px) {
  .menu__link {
    font-size: inherit;
    color: hsl(236, 13%, 42%);
  }
}

.burger-menu {
  position: absolute;
  top: 6px;
  right: 0;
  width: 40px;
  height: 17px;
  z-index: 6;
}
@media (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}
.burger-menu__line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: hsl(240, 100%, 5%);
  transition: transform 0.3s, opacity 0.15s;
}
.burger-menu__line:nth-child(1) {
  top: 0;
}
.burger-menu__line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.burger-menu__line:nth-child(3) {
  bottom: 0;
}
.burger-menu.close-menu .burger-menu__line:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.burger-menu.close-menu .burger-menu__line:nth-child(2) {
  opacity: 0;
}
.burger-menu.close-menu .burger-menu__line:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

.main {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
  justify-items: center;
  gap: 64px 30px;
}
@media (min-width: 576px) {
  .main {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 72px 30px;
  }
}

.hero {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
  max-width: 730px;
}
@media (min-width: 576px) {
  .hero {
    grid-area: 1/1/2/2;
  }
}
@media (min-width: 992px) {
  .hero {
    grid-template-columns: auto 350px;
    grid-template-rows: auto auto;
    column-gap: 30px;
  }
}
.hero__img-wrapper {
  display: block;
  margin-block-end: 1.5rem;
}
@media (min-width: 768px) {
  .hero__img-wrapper {
    max-height: 300px;
    margin-block-end: 1.875rem;
  }
}
@media (min-width: 992px) {
  .hero__img-wrapper {
    grid-area: 1/1/2/3;
  }
}
.hero__img {
  height: 100%;
  object-fit: cover;
}
.hero__title {
  margin-block-end: 1rem;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1;
  color: hsl(240, 100%, 5%);
}
@media (min-width: 992px) {
  .hero__title {
    grid-area: 2/1/3/2;
    margin-block-end: 0;
    font-size: 3.5rem;
  }
}
.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 1.5rem;
}
@media (min-width: 992px) {
  .hero__content {
    grid-area: 2/2/3/3;
  }
}
.hero__text {
  line-height: 1.7;
}
.hero__link {
  padding: 1rem 2.188rem 0.938rem 1.938rem;
  font-size: 0.875rem;
  font-weight: 700;
  color: hsl(240, 100%, 5%);
  letter-spacing: 0.31285em;
  text-transform: uppercase;
  background-color: hsl(5, 85%, 63%);
  transition: color 0.15s, background-color 0.15s;
}
.hero__link:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(240, 100%, 5%);
}

.new {
  max-width: 350px;
  padding: 24px 21px;
  background-color: hsl(240, 100%, 5%);
}
@media (min-width: 576px) {
  .new {
    grid-area: 1/2/2/3;
  }
}
@media (min-width: 992px) {
  .new {
    padding: 32px 24px 31px;
  }
}
.new__heading {
  margin-block-end: 1.875rem;
  font-size: 2rem;
  font-weight: 700;
  color: hsl(35, 77%, 62%);
}
@media (min-width: 992px) {
  .new__heading {
    font-size: 2.5rem;
  }
}
.new__article:not(:last-child) {
  margin-block-end: 2rem;
  padding-block-end: 1.813rem;
  border-bottom: 1px solid hsl(233, 8%, 79%);
}
.new__title {
  margin-block-end: 0.5rem;
  font-size: 1.25rem;
  font-weight: 800;
}
.new__link {
  color: hsl(36, 100%, 99%);
  transition: color 0.1s;
}
.new__link:hover {
  color: hsl(35, 77%, 62%);
}
.new__text {
  line-height: 1.7;
  color: hsl(233, 8%, 79%);
}

.popular {
  display: flex;
  flex-direction: column;
  gap: 32px 30px;
}
@media (min-width: 576px) {
  .popular {
    grid-area: 2/1/3/3;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.popular__heading {
  display: none;
}
.popular__article {
  display: flex;
  column-gap: 24px;
}
@media (min-width: 768px) {
  .popular__article {
    max-width: 350px;
  }
}
.popular__img {
  width: 100px;
}
.popular__content {
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
}
.popular__number {
  font-size: 2rem;
  font-weight: 700;
  color: hsl(5, 85%, 63%);
}
.popular__title {
  font-size: 1.125rem;
  font-weight: 800;
}
.popular__link {
  color: hsl(240, 100%, 5%);
  transition: color 0.1s;
}
.popular__link:hover {
  color: hsl(5, 85%, 63%);
}
.popular__text {
  line-height: 1.7;
}

/*# sourceMappingURL=main.css.map */
